{{ block title }}
    Please decide
{{ endblock }}
{{ block content }}

    <p>Your endowment is {{ C.ENDOWMENT }}!</p>

    {{ formfields }}
    {{ next_button }}

    {% if player.round_number > 1 %}

    <h3 class="mt-5">Game history</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Round</th>
                <th>My contribution</th>
                <th>My payoff</th>
                <th>Total contributions</th>
                <th>Group account balance</th>
            </tr>
        </thead>
        <tbody>
            {% for history_data in player.history %}
            <tr>
                <td>{{ history_data.round }}</td>
                <td>{{ history_data.my_contrib }}</td>
                <td>{{ history_data.my_payoff }}</td>
                <td>{{ history_data.contributions }}</td>
                <td>{{ history_data.account_balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{{ endblock }}
